.catalog {
  padding: 83px 118px 118px;
  background-color: $color-alice-blue;

  h2 {
    margin-top: 0;
    margin-bottom: 50px;
    text-align: center;
    font-weight: 600;
    font-size: 28px;
    line-height: 42px;
    color: $color-tangaroa;
  }
}

.catalog__list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 30px;
  row-gap: 30px;
}

.catalog__item {
  position: relative;
  display: grid;
  background-color: $color-alice-blue;
  margin: 0;
  overflow: hidden;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }

  h3 {
    position: absolute;
    bottom: 0;
    margin: 0 0 22px 30px;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    align-items: center;
    color: $color-alice-blue;
  }

  dl {
    margin: 0;
    padding: 0;
  }

  dt {
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: $color-alice-blue;
  }

  dd {
    margin: 0;
    margin-bottom: 10px;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: $color-quartz;
  }

  a {
    max-width: 210px;
    text-decoration: none;
    padding: 10px 46px;
    word-wrap: break-word;
    color: $color-tangaroa;
    background-color: $color-alice-blue;
    border-radius: 0;
    margin: 0 auto;
    transition: all 0.4s ease-in-out;

    &:hover,
    :focus {
      background: $color-solitude;
      color: $color-mariner;
    }
  }
}

.catalog__item > .catalog__item-content {
  position: absolute;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.catalog__item:hover > .catalog__item-content,
.catalog__item:focus-within > .catalog__item-content {
  position: absolute;
  overflow: auto;
  top: 0;
  left: 0;
}

.catalog__item:hover > h3,
.catalog__item:focus-within > h3 {
  top: 30px;
  margin-left: 25px;
}

.catalog__item .catalog__item-content {
  opacity: 0;
  background-color: $color-tangaroa; /* Фон блока при наведении */
  transition: all 0.4s ease-in-out;
  transform: translate(0px, -250px) rotate(0deg); /* Направление выезжающей панели */
}

.catalog__item:hover .catalog__item-content,
.catalog__item:focus-within .catalog__item-content {
  padding: 72px 25px 35px 25px;
  opacity: 1;
  transform: translate(0px, 0px) rotate(0deg);
}

.catalog__item-picture {
  grid-row: 1/-1;
  grid-column: 1/-1;
}

.catalog__item-content {
  display: grid;
  grid-row: 1/-1;
  grid-column: 1/-1;
  height: 100%;
}
