.catalog {
  padding: 83px 118px 118px;
  background-color: $color-alice-blue;

  h2 {
    margin-top: 0;
    margin-bottom: 50px;
    text-align: center;
    font-weight: 600;
    font-size: 28px;
    line-height: 42px;
    color: $color-tangaroa;
  }

  @include vp-1023 {
    padding: 88px 60px 100px;

    h2 {
      font-size: 26px;
      line-height: 39px;
    }
  }

  @include vp-767 {
    padding: 57px 0 66px;

    h2 {
      margin-bottom: 30px;
      font-size: 24px;
      line-height: 36px;
    }
  }
}

.catalog__list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 30px;
  row-gap: 30px;

  @include vp-1023 {
    grid-template-columns: 1fr 1fr;
    width: 648px;
    margin: 0 auto;
  }

  @include vp-767 {
    grid-template-columns: 1fr;
    width: 320px;
  }
}

.catalog__item {
  position: relative;
  display: grid;
  background-color: $color-alice-blue;
  margin: 0;
  overflow: hidden;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }

  h3 {
    position: absolute;
    bottom: 0;
    margin: 0 30px 22px 30px;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    align-items: center;
    color: $color-alice-blue;
  }

  dl {
    margin: 0;
    padding: 0;
  }

  dt {
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: $color-alice-blue;
  }

  dd {
    margin: 0;
    margin-bottom: 10px;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: $color-quartz;
  }

  a {
    max-width: 210px;
    text-decoration: none;
    padding: 10px 46px;
    word-wrap: break-word;
    color: $color-tangaroa;
    background-color: $color-alice-blue;
    border-radius: 0;
    margin: 0 auto;
    transition: all 0.4s ease-in-out;

    &:hover,
    :focus {
      background: $color-solitude;
      color: $color-mariner;
    }
  }

  @include vp-1279 {
    h3 {
      font-size: 10px;
    }

    dt {
      font-size: 8px;
      line-height: 10px;
    }

    dd {
      font-size: 8px;
      line-height: 10px;
    }

    a {
      padding: 10px 25px;
      font-size: 10px;
    }
  }

  @include vp-1023 {
    img {
      width: 309px;
      height: 386px;
    }

    h3 {
      margin: 0 36px 25px;
      font-size: 18px;
      line-height: 27px;
    }

    dt {
      font-size: 14px;
      line-height: 20px;
    }

    dd {
      font-size: 14px;
      line-height: 20px;
    }

    a {
      width: 100%;
      max-width: none;
      padding: 10px 25px;
      font-size: 14px;
      text-align: center;
      line-height: 21px;
    }
  }

  @include vp-767 {
    width: 270px;
    margin: 0 auto;

    img {
      width: 270px;
      height: 386px;
      margin: 0 auto;
    }

    h3 {
      margin-left: 26px;
      margin-bottom: 18px;
    }
  }
}

.catalog__item > .catalog__item-content {
  position: absolute;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.catalog__item:hover > .catalog__item-content,
.catalog__item:focus-within > .catalog__item-content {
  position: absolute;
  overflow: auto;
  top: 0;
  left: 0;
}

.catalog__item:hover > h3,
.catalog__item:focus-within > h3 {
  top: 30px;
  margin-left: 25px;

  @include vp-1023 {
    margin-left: 35px;
  }

  @include vp-767 {
    margin-left: 25px;
  }
}

.catalog__item .catalog__item-content {
  opacity: 0;
  background-color: $color-tangaroa;
  transition: all 0.4s ease-in-out;
  transform: translate(0px, -250px) rotate(0deg); /* Направление выезжающей панели */
}

.catalog__item:hover .catalog__item-content,
.catalog__item:focus-within .catalog__item-content {
  padding: 72px 25px 35px 25px;
  opacity: 1;
  transform: translate(0px, 0px) rotate(0deg);

  @include vp-1023 {
    padding: 72px 35px 35px 35px;
  }

  @include vp-767 {
    padding-left: 25px;
    padding-right: 25px;
  }
}

.catalog__item-picture {
  grid-row: 1/-1;
  grid-column: 1/-1;
}

.catalog__item-content {
  display: grid;
  grid-row: 1/-1;
  grid-column: 1/-1;
  height: 100%;
}
