.header {
  position: absolute;
  width: 100%;
  z-index: 1;
}

.header__container {
  padding: 30px 100px;

  @include vp-1023 {
    padding: 30px 44px;
    padding-top: 0;
  }

  @include vp-767 {
    padding: 30px 15px;
    padding-top: 0;
  }
}

@media (max-width: $vp-767) {
  .is-open .header__container {
    padding-left: 36px;
  }

  .is-open .header::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100vh;
    z-index: 1;
    background: rgba(0, 43, 102, 0.5);
  }
}
